/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_6 : rgba($palette-primary-neutral-color, 0.8);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.button-primary,
	.button-secondary:hover,
	.button-secondary:focus,
	.pager li > a {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle {
		background: $palette-primary_1;
	}	
	a,
	.link-secondary:hover,
	.link-secondary:focus,
	.widget.well a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p.page-title,
	.entry-title a:hover,
	.product .product_title,
	.site-title a:hover,
	.site-title a:focus,
	.site-description,
	.disabled-footer .site-footer a,
	.widget caption {
		color: $palette-primary_1;
	}
	.navbar-default .navbar-toggle,
	hr,
	#reviews #comments ol.commentlist li .comment-text {
		border-color: $palette-primary_1;
	}
	.table > tbody > tr > td,
	.table > tbody > tr > th,
	.table > tfoot > tr > td,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > thead > tr > th {
		border-top: 1px solid $palette-primary_1;
	}
	article.post h1.entry-title,
	h2,
	.table > thead > tr > th {
		border-bottom: 2px solid $palette-primary_1;
	}
	.mod-blockquote,
	blockquote {
		border-left: 4px solid $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary:hover,
	.button-primary:focus,
	.button-secondary,
	.pager li > a:hover,
	.pager li > a:focus,
	mark,
	.mark {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: $palette-primary_2;
	}
	a:hover,
	a:focus,
	.widget.well a:hover,
	.link-secondary {
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	h1.entry-title,
	h1.page-title,
	p.h1.page-title,
	article.post,
	aside.sidebar,
	.nav-links {
		background: $palette-primary_3;
	}
	aside.sidebar {
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.site-header .header-1,
	.site-header .header-5,
	.site-header .header-6.header-7,
	.site-header .header-8,
	.site-header .header-9.header-10,
	#header-widget-area > .header-widgets-1 > .widget,
	#header-widget-area > .header-widgets-2 > .widget,
	#header-widget-area > .header-widgets-3 > .widget,
	#header-widget-area > .header-widgets-4 > .widget,
	#footer-widget-area > .footer-widgets-1 > .widget,
	#footer-widget-area > .footer-widgets-2 > .widget,
	#footer-widget-area > .footer-widgets-3 > .widget,
	#footer-widget-area > .footer-widgets-4 > .widget,
	.navbar-default .navbar-toggle .icon-bar,
	.site-footer .footer-1,
	.site-footer .footer-8,
	.site-footer .footer-11,
	.dropdown-menu {
		background: $palette-primary_4;
	}
	#comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.site-header,
	.site-header p,
	.widget.well,
	.site-footer,
	.site-footer p {
		color: $palette-primary_5;
	}

	/*-----------------------------------------------
	## 6
	-----------------------------------------------*/
	.boldgrid-section .container,
	.entry-header .container,
	.entry-content .container,
	#header-widget-area,
	#footer-widget-area {
		background: $rgba_6;
	}
	.jumbotron .container {
		background-color: $rgba_6;
	}
	body,
	.site-content,
	.jumbotron {
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Menus
	-----------------------------------------------*/
	.navbar-default .navbar-nav > li > a,
	li.menu-item > a,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $palette-primary_5;
	}
	li.menu-item.menu-social > a {
		color: $palette-primary_1;
	}
	li.menu-item > a:hover,
	li.menu-item.menu-social > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: $palette-primary_2;
	}
	#primary-navbar ul#menu-primary > li:last-child > a {
		border: 2px solid $palette-primary_2;
		color: $palette-primary_2;
	}
	#primary-navbar ul#menu-primary > li:last-child > a:hover {
		border: 2px solid $palette-primary_1;
		color: $palette-primary_1;
	}	
	#primary-navbar,
	#secondary-menu,
	#tertiary-menu,
	#menu-social-items,
	#footer-center-menu {
		.current-menu-item a {
			color: $palette-primary_2;
		}
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.search .jumbotron,
.palette-primary.search .search-results .col-md-12,
.palette-primary.bg_attribution-template-default .entry-content,
.woocommerce .site-content main.container .row .col-md-9 #container #content,
.woocommerce-page .site-content .entry-content .container .woocommerce {
	background: $palette-primary_3;
}

.palette-primary.single .site-content main.container,
.palette-primary.blog .site-content main.container,
.palette-primary.archive .site-content main.container,
.palette-primary.search .site-content main.container {
	background: $rgba_6;
}
